.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--color-blue-500);
  background: linear-gradient(to bottom, var(--color-white), var(--color-blue-100), var(--color-blue-500));
}

.content {
  position: relative;
  flex-grow: 1;
  overflow: hidden;
}

.header {
  padding: var(--sizing-1) var(--sizing-2);
  display: flex;
  align-items: center;
  gap: var(--sizing-2);
  background-color: var(--color-white);
}

.link {
  display: flex;
  align-items: center;
  color: var(--color-black);
  gap: var(--sizing-2);
  &:hover {
    text-decoration: none;
  }
}

.title {
  margin: 0;
}

.right {
  margin-left: auto;
  display: flex;
  gap: var(--sizing-1);
}

.avatar {
  position: relative;
}

.user {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 700;
  border-radius: 50%;
  background-color: var(--color-blue-100);
  cursor: pointer;
}

.popover {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 99991;
  padding: var(--sizing-2);
  background-color: var(--color-white);
  border-radius: var(--radius-s);
  box-shadow: var(--box-shadow);
}

.name {
  margin: 0 0 var(--sizing-1);
  font-size: 16px;
  font-weight: 700;
}

.email {
  margin: 0 0 var(--sizing-1);
  font-size: 12px;
  font-weight: 400;
  color: var(--color-grey-400);
}

.divider {
  margin: var(--sizing-1) calc(var(--sizing-2) * -1);
}
