.wrapper {
  width: 100%;
  max-width: 1024px;
  margin: var(--sizing-3) auto;
  padding: var(--sizing-3);
  background-color: var(--color-white);
  border-radius: var(--radius-m);
  box-shadow: var(--box-shadow);
}

.user {
  margin-bottom: var(--sizing-2);
  display: flex;
  align-items: center;
  gap: var(--sizing-2);
}

.editWrapper {
  display: flex;
  align-items: center;
  gap: calc(var(--sizing-1) * 0.5);
}

.statistics {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: var(--sizing-2);
}

.block {
  padding: var(--sizing-1);
  display: flex;
  align-items: center;
  gap: var(--sizing-2);
  border: 1px solid var(--color-grey-100);
  border-radius: var(--radius-s);
  box-shadow: var(--box-shadow);
}

.history {
  max-height: 500px;
  margin-top: var(--sizing-2);
  padding: var(--sizing-2);
  background-color: var(--color-green-50);
  border-radius: var(--radius-m);
  box-shadow: var(--box-shadow);
  overflow: auto;
}

.game {
  padding: var(--sizing-1);
  display: flex;
  align-items: center;
  gap: var(--sizing-2);
  background-color: var(--color-white);
  border-radius: var(--radius-s);
  box-shadow: var(--box-shadow);
  & + & {
    margin-top: var(--sizing-1);
  }
}

.count {
  min-width: 26px;
  text-align: center;
  background-color: var(--color-green-50);
  border-radius: 50%;
  box-shadow: var(--box-shadow);
  &.board {
    background-color: var(--color-pink-25);
  }
}

.date {
  margin-left: auto;
  font-size: 12px;
}

.leaderboard {
  max-height: 500px;
  margin-top: var(--sizing-2);
  padding: var(--sizing-2);
  background-color: var(--color-pink-25);
  border-radius: var(--radius-m);
  box-shadow: var(--box-shadow);
  overflow: auto;
}

.username {
  display: flex;
  align-items: center;
  gap: var(--sizing-1);
  overflow: hidden;
  h4 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.avatar {
  flex-shrink: 0;
}

.score {
  margin-left: auto;
  flex-shrink: 0;
}
