.info {
  position: absolute;
  top: var(--sizing-2);
  left: 50%;
  z-index: 9999;
  display: flex;
  text-align: center;
  transform: translateX(-50%);
}

.text {
  margin: 0;
  padding: var(--sizing-1) var(--sizing-2);
  border-radius: var(--radius-s);
  background-color: var(--color-white);
  box-shadow: var(--box-shadow);
}
