.modal {
  position: fixed;
  z-index: 99999;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.content {
  width: 100%;
  max-width: 500px;
  margin: 200px auto 0;
  padding: var(--sizing-3);
  background-color: var(--color-white);
  border-radius: var(--radius-s);
}

.close {
  color: var(--color-grey-400);
  float: right;
  font-size: 28px;
  line-height: 1;
  font-weight: bold;
  &:hover {
    color: var(--color-black);
    text-decoration: none;
    cursor: pointer;
  }
}
