.typography {
  margin: 0;
}

.green {
  color: var(--color-green-400);
}

.blue {
  color: var(--color-blue-400);
}

.red {
  color: var(--color-red-400);
}

.yellow {
  color: var(--color-yellow-400);
}

.grey {
  color: var(--color-grey-400);
}

.inherit {
  color: inherit;
}

.xs {
  margin-bottom: var(--sizing-050);
}

.s {
  margin-bottom: var(--sizing-1);
}

.m {
  margin-bottom: var(--sizing-2);
}

.l {
  margin-bottom: var(--sizing-3);
}

.xl {
  margin-bottom: var(--sizing-4);
}
