.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--sizing-1);
  border-radius: var(--radius-s);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 700;
  color: var(--color-black);
  text-decoration: none;
  border: none;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.primary {
  background-color: var(--color-blue-300);
  color: var(--color-black);
  transition: background-color 0.3s;

  &:hover,
  &:disabled {
    background-color: var(--color-blue-500);
  }
}

.secondary {
  background-color: var(--color-white);
  color: var(--color-blue-300);
  outline: 1px solid var(--color-blue-300);
  transition:
    color 0.3s,
    outline-color 0.3s;

  &:hover,
  &:disabled {
    color: var(--color-blue-500);
    outline-color: var(--color-blue-500);
  }
}

.text {
  background-color: transparent;
  color: var(--color-blue-300);
  transition:
    background-color 0.3s,
    color 0.3s;

  &:hover,
  &:disabled {
    background-color: var(--color-blue-25);
    color: var(--color-blue-500);
  }
}

.medium {
  padding: calc(var(--sizing-1) * 1.5) var(--sizing-2);
}

.small {
  padding: var(--sizing-050) var(--sizing-1);
}

.fullWidth {
  width: 100%;
}
