.wrapper {
  min-height: 100vh;
  padding: var(--sizing-10) var(--sizing-3);
  background: var(--color-blue-500);
  background: linear-gradient(to bottom, var(--color-white), var(--color-blue-100), var(--color-blue-500));
}

.content {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: var(--sizing-3);
  background-color: var(--color-white);
  border-radius: var(--radius-m);
  box-shadow: var(--box-shadow);
}
