.label {
  display: block;
  margin-bottom: var(--sizing-1);
}

.input {
  width: 100%;
  padding: calc(var(--sizing-1) * 1.5) var(--sizing-2);
  border: 1px solid var(--color-grey-300);
  border-radius: var(--radius-s);
  font-size: 16px;
  line-height: 1.5;
}
