.time {
  position: absolute;
  top: var(--sizing-2);
  left: 50%;
  z-index: 9999;
  padding: var(--sizing-1) var(--sizing-2);
  border-radius: var(--radius-s);
  background-color: var(--color-white);
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  transform: translateX(-50%);
  overflow: hidden;
}

.round {
  position: absolute;
  top: var(--sizing-2);
  left: 0;
  z-index: 9999;
  padding: var(--sizing-1) 0 var(--sizing-1) var(--sizing-1);
  background-color: var(--color-white);
  line-height: 1.25;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: -20px;
    z-index: -1;
    background-color: var(--color-white);
    border-radius: var(--radius-s);
    transform: skewX(-20deg);
  }
}

.textBig {
  font-size: 24px;
  font-weight: 700;
}

.score {
  position: absolute;
  top: var(--sizing-2);
  right: 0;
  z-index: 9999;
  padding: var(--sizing-1) var(--sizing-1) var(--sizing-1) 0;
  background-color: var(--color-white);
  line-height: 1.25;
  text-align: right;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -20px;
    right: 0;
    z-index: -1;
    background-color: var(--color-white);
    border-radius: var(--radius-s);
    transform: skewX(20deg);
  }
}

.smallMap {
  position: absolute;
  bottom: var(--sizing-2);
  left: var(--sizing-2);
  z-index: 9999;
  width: 500px;
  height: 300px;
  border-radius: var(--radius-s);
  outline: none;
  overflow: hidden;
  transition:
    width 0.3s,
    height 0.3s;
  &:hover {
    width: 700px;
    height: 500px;
  }
}

.distance {
  position: absolute;
  bottom: var(--sizing-1);
  left: 50%;
  z-index: 9999;
  padding: var(--sizing-1) var(--sizing-2);
  border-radius: var(--radius-s);
  background-color: var(--color-white);
  transform: translateX(-50%);
}

.finalTitle {
  margin: 0 0 var(--sizing-2);
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: space-around;
}
