.alert {
  padding: var(--sizing-1);
  border-radius: var(--radius-s);
  border: 1px solid;
}

.success {
  background-color: var(--color-green-25);
  border-color: var(--color-green-400);
  color: var(--color-green-400);
}

.error {
  background-color: var(--color-red-25);
  border-color: var(--color-red-400);
  color: var(--color-red-400);
}
